/venv/
/my_career/db.sqlite3
/my_career/static/
/.idea/.gitignore/
/.idea/diplom_project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/my_career/.env
/my_career/.env_example
