{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h1 class="big big-2">Contact</h1>
            <h2 class="mb-4">Давай начнем?</h2>
            <p>Будущее, где ваша карьера вдохновляет и приносит успех начинается уже сейчас</p>
          </div>
        </div>

        <div class="row d-flex contact-info mb-5">
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4 shadow">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-vk"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Вконтакте</h3>
		            <p><a href="https://vk.com/id33285000">Kazanina</a></p>
		          </div>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4 shadow">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-telegram"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">telegram</h3>
		            <p><a href="https://t.me/KK_kseni_kazanina">KK_kseni_kazanina</a></p>
	            </div>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4 shadow">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-instagram"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Instagram</h3>
		            <p><a href="https://www.instagram.com/ksenia_kazanina/">ksenia_kazanina</a></p>
		          </div>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4 shadow">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-whatsapp"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">WhatsApp</h3>
		            <p><a href="https://wa.me/79513418375">Ксения Казанина</a></p>
	            </div>
	          </div>
          </div>
        </div>

        <div class="row no-gutters block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="{% url 'contact' %}" method="post" class="bg-light p-4 p-md-5 contact-form">
              {% csrf_token %}
              <div class="form-group">
                  <p>{{ form.message_name }}</p>
<!--                <input type="text" name="message_name" class="form-control" placeholder="Ваше имя">-->
              </div>
              <div class="form-group">
                  <p>{{ form.message_email }}</p>
<!--                <input type="text" name="message_email" class="form-control" placeholder="Почта">-->
              </div>
              <div class="form-group">
                  <p>{{ form.message }}</p>
<!--                <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Сообщение"></textarea>-->
              </div>
              <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>

          <div class="col-md-6 d-flex">
          	<div class="img" style="background-image: url({% static 'portfolio/images/photo_3_1.jpg' %}); width: 80%"></div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}