{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row justify-content-center block-9 mt-5">
        <div class="col-md-6 d-flex">
            <form action="" method="post" class="bg-light p-4 p-md-5 contact-form w-100">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" class="form-control" name="first_name" placeholder="Имя" aria-label="Имя">
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" class="form-control" name="last_name" placeholder="Фамилия" aria-label="Фамилия">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Почта">
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" name="phone" class="form-control" placeholder="Телефон">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <textarea class="form-control" name="resume" rows="3" cols="45" placeholder="Ваше обращение"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn btn-primary py-3 px-5">
                </div>
            </form>
        </div>
    </div>
{% endblock %}