{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="ftco-section ftco-project" id="projects-section">
    	<div class="container-fluid px-md-0">
    		<div class="row no-gutters justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Projects</h1>
            <h2 class="mb-4">Тренинги и Выступления</h2>
            <p>Сделайте шаг в будущее, где ваша карьера вдохновляет и приносит успех</p>
          </div>
        </div>
    		<div class="row no-gutters">
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'portfolio/images/1.jpg' %})">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Тренинги и Выступления</a></h3>
	    					<span>Вконтакте</span>
	    				</div>
    				</div>
  				</div>
  				<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'portfolio/images/2.jpg' %})">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Тренинги и Выступления</a></h3>
	    					<span>Вконтакте</span>
	    				</div>
    				</div>
  				</div>

    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'portfolio/images/3.jpg' %})">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Тренинги и Выступления</a></h3>
	    					<span>Вконтакте</span>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'portfolio/images/4.jpg' %})">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Тренинги и Выступления</a></h3>
	    					<span>Вконтакте</span>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'portfolio/images/5.jpg' %})">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Тренинги и Выступления</a></h3>
	    					<span>Вконтакте</span>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'portfolio/images/6.jpg' %})">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Тренинги и Выступления</a></h3>
	    					<span>Вконтакте</span>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}