{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="ftco-section" id="services-section">
    	<div class="container-fluid px-md-5">
    		<div class="row justify-content-center py-5 ">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Services</h1>
            <h2 class="mb-4">Услуги</h2>
            <p>Я ваш персональный карьерный консультант. Помогу разобраться в карьерном вопросе, найти работу по-любви, написать эффективное резюме и подготовиться к собеседованию</p>
          </div>
        </div>
    		<div class="row">
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1 shadow">
							<span class="icon">
								<i class="flaticon-analysis"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Карьерная консультация</h3>
								<p>Предоставляю профессиональные советы и рекомендации по выбору карьерного пути, развитию навыков и поиску новых возможностей для роста в вашей профессиональной сфере.</p>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1 shadow">
							<span class="icon">
								<i class="flaticon-flasks"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Составление резюме</h3>
								<p>Я помогу создать эффективные и привлекательные резюме, которые помогут вам выделиться среди других кандидатов и привлечь внимание работодателей.</p>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1 shadow">
							<span class="icon">
								<i class="flaticon-ideas"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Подготовка к собеседованию</h3>
								<p>Провожу тренинги и консультации по подготовке к собеседованию, включая анализ возможных вопросов, практику ответов и стратегий успешного прохождения интервью.</p>
							</div>
						</a>
					</div>

					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1 shadow">
							<span class="icon">
								<i class="flaticon-innovation"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Пакет Поиск работы из 3-х сессий</h3>
								<p>Разработаем стратегию поиска работы и пошаговый план действий. Поддержка и сопровождение до этапа выхода на новое место работы</p>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1 shadow">
							<span class="icon">
								<i class="flaticon-ux-design"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Пакет Компас карьеры из 3-х сессий</h3>
								<p>Работа не приносит удовольствие?
								Запутались, не знаете чем хотите заниматься в профессиональной сфере?
								Хотите сменить сферу?
								Найдем выход вместе</p>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1 shadow">
							<span class="icon">
								<i class="flaticon-idea"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Наставничество в HR</h3>
								<p>Вход в профессию. Консультации по hr-процессам, управлению персоналом, решение сложных кейсов</p>
							</div>
						</a>
					</div>
				</div>
    	</div>
    </section>
{% endblock %}